h1 {
    display: inline;
    padding: 0 70px;
    background: linear-gradient(90deg, green, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
}

canvas {
    max-width: 300px;
}

canvas.empty {
    border: 1px dashed #333333;
    border-radius: 8px;
}

.main {
    padding: 30px 70px;
}

.wrap {
    margin-top: 50px;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
}